<!--This base file is going to be a part of every web page which extends this-->

<!DOCTYPE html>
<html lang="en">
<head>
        <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    {% block head %}
        <!-- This block can be overwritten by the page extending this base -->
        <meta charset="UTF-8">
        <title>Base</title>
    {% endblock %}
</head>
<body>
    <h1>Test</h1>
    {% block body %}
        <!-- This block can be overwritten by the page extending this base -->
    {% endblock %}
</body>
</html>