{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>home</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        <body style="height:1500px">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
          <a class="navbar-brand" href="#">SummerTests</a>
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href='/account/logout'>Logout</a>
            </li>
          </ul>
        </nav>
        <h1 class="jumbotron">Welcome to the home page</h1>
    {% endblock %}
</body>
</html>

