{% extends 'base.html' %}

{% block head %}
    <title>Login/Sign up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'account/login.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1 class="jumbotron">Welcome to summerTests</h1>
    <div class="container">
        <div id="loginForm">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}